@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* body {
    @apply bg-white   dark:bg-gray-600
           text-black dark:text-gray-200;
  } */
  /* :root {
    --header-color: #333333;
    --background-color: #fbfbfb;
    --text-color: #000000;
  } */

  body {
    @apply bg-[var(--background-color)] text-[var(--text-color)];
  }

  body::-webkit-scrollbar {
    display: none; 
  }
  
  AppHeader, header, .header, .footer {
    background-color: var(--header-color);
    /* color: var(--text-color); */
    color: var(--header-text-color);
  }

  div.contents-body {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  div svg {
    color: inherit;
  }

  .popup, .popup-sub {
    background-color: var(--background-color);
    border-color: var(--header-color);
  }

  .titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    user-select: none;
    -webkit-user-select: none;
  }

  .footerbar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    user-select: none;
    -webkit-user-select: none;
  }

  .footerbar-content {
    margin-left: 8px;
    margin-right: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* user-select: none; */
    /* -webkit-user-select: none; */
  }

  .footerbar {
    filter: brightness(0.95);
    /* background-color: var(--background-color); */
    /* border-top: var(--header-color) 2px solid; */
    font-size: 12px;
  }

  .titlebar-button:hover,
  .footerbar-button:hover {
    background: #5bbec3;
  }

  .popup {
    height: 24px;
    border-radius: 4px;
    position: fixed;
    transform: translateX(-50%);
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  }

  .delete-icon {
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    background-image: url('assets/img/bin.svg');
    color: transparent;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
  }

  #viewer {
    transition: opacity 0.3s ease;
  }

  #viewer.hidden {
    opacity: 0;
  }

}