@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  body {
    @apply bg-[var(--background-color)] text-[var(--text-color)];
  }

  :root {
    --scrollbar-visable: none;
  }

  body::-webkit-scrollbar {
    display: var(--scrollbar-visable);
  }

  *::-webkit-scrollbar {
    display: block;
    width: 8px;
    height: 0px;
  }

  *::-webkit-scrollbar:hover {
    width: 16px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--header-color);
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  AppHeader,
  header,
  .header,
  .footer {
    background-color: var(--header-color);
    color: var(--header-text-color);
  }

  div.contents-body {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  div svg {
    color: inherit;
  }

  .popup,
  .popup-sub {
    background-color: var(--background-color);
    border-color: var(--header-color);
  }

  .at-center {
    @apply inline-flex items-center justify-center;
  }

  .titlebar-button {
    @apply round-btn-style at-center size-7;
  }

  .footerbar-button {
    @apply round-btn-style at-center size-5;
  }

  .footerbar-content {
    @apply at-center mx-2;
  }

  .footerbar {
    filter: brightness(0.95);
    font-size: 12px;
  }

  .titlebar-button:hover,
  .footerbar-button:hover {
    background: #5bbec3;
  }

  .popup {
    height: 24px;
    border-radius: 4px;
    position: fixed;
  }

  .round-btn-style {
    @apply rounded-md;
  }

  @media print {
    .no-print {
      display: none !important;
    }
  }

  .delete-icon {
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    background-image: url('assets/img/bin.svg');
    color: transparent;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
  }

  #viewer {
    transition: opacity 0.3s ease;
  }

  #viewer.hidden {
    opacity: 0;
  }

}